!SAVEALL

anotherone/withDeep/
!ONECOPY

Music

# TODO: Fix this one
 Documents

! VALINTA abs
|   default /coffee/abs/
|   disable hostname hostnameX

projects

! VALINTA some/deep/file
|   enable hostname hostnameX thisOne
|   enable hostname machineB deep/deeper/deepest//file.deep
|   enable hostname someAnotherMachine /mega/whoopwhoop.exe
