!SAVEALL

somefile
anotherone/withDeep
!ONECOPY

! VALINTA coffeerepo
|   enable hostname hostnameX coffee
|   enable hostname machineB  /coffee/repo


Music

# TODO: Fix this one
 Documents

projects

! VALINTA xxx
|   enable hostname hostnameX thisOne
|   enable hostname machineB deep/deeper/deepest//file.deep
|   enable hostname someAnotherMachine /mega/whoopwhoop.exe
