!SAVEALL

somefile
! VALINTA optionsForFileA
|   enable hostname hostnameX thisOne
|   enable hostname someAnotherMachine /mega/whoop.exe
anotherone

! VALINTA B
|   enable hostname hostnameX thisOne
|   enable hostname machineB /big/whoop/magazine/0.mp3
|   enable hostname someAnotherMachine /mega/whoop.exe
! VALINTA xxx
|   default skripti
|   enable hostname hostnameX thisOne
|   enable hostname someAnotherMachine /mega/whoopwhoop.exe
! VALINTA disableMe
|   default shouldBeDisabled
|   enable hostname hostnameX thisOne
|   disable hostname machineB
!ONECOPY

! VALINTA optionsForOneCopy
|   enable hostname hostnameX thisOne
|   enable hostname machineB cell.txt
|   enable hostname someAnotherMachine /mega/whoop.exe
Music
Documents
projects
