!SAVEALL

somefile
! VALINTA optionsForFileA
|   hostname hostnameX thisOne
|   hostname machineB /big/whoop/magazine/0.mp3
|   hostname someAnotherMachine /mega/whoop.exe
anotherone

! VALINTA B
|   hostname hostnameX thisOne
|   hostname machineB /big/whoop/magazine/0.mp3
|   hostname someAnotherMachine /mega/whoop.exe
! VALINTA XXX
|   hostname hostnameX thisOne
|   hostname machineB /big/whoop/magazine/0.mp3
|   hostname someAnotherMachine /mega/whoop.exe
!ONECOPY

! VALINTA optionsForOneCopy
|   hostname hostnameX thisOne
|   hostname machineB /big/whoop/magazine/0.mp3
|   hostname someAnotherMachine /mega/whoop.exe
Music
Documents
projects
